{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Countries Information
{% endblock %}
{% block body %}
  <main class="main">
    <!-- About Section -->
    <section id="about" class="section">
      <div class="container p-4 border border-1 border-light" data-aos="fade-up" data-aos-delay="100">
        <div class="row mt-4">
          <div class="col-xl-6 col-lg-6 col-11 p-2 card shadow">
            <img src="{{ countryDetails.flags.svg }}" class="img-fluid" alt="{{ countryDetails.flags.alt }}" width="100%" style="max-height:30vh" />
          </div>
          <div class="col-xl-5 col-lg-5 col-11 p-2 mt-3 m-auto card shadow">
            <table class="w-100 table table-light" style="max-height:30vh">
              <tr>
                <th colspan="2" class="text-center">Country Information</th>
              </tr>
              <tr>
                <th>Common Name:</th>
                <td>{{ countryDetails.name.common }}</td>
              </tr>
              <tr>
                <th>Official Name:</th>
                <td>{{ countryDetails.name.official }}</td>
              </tr>
              <tr>
                <th>Capital:</th>
                <td>
                  {% for capital in countryDetails.capital %}
                    {{ capital }}
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th>Independent:</th>
                <td>
                  {% if countryDetails.independent %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>UN Member:</th>
                <td>
                  {% if countryDetails.unMember %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Landlocked:</th>
                <td>
                  {% if countryDetails.landlocked %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          <p class="text-center mt-4 h5 p-2 card shadow">{{ countryDetails.flags.alt }}</p>
        </div>

        <div class="row mt-4">
          <div class="col-xl-4 col-lg-4 col-11 p-2 mt-3 m-auto card shadow">
            <table class="w-100 table table-light">
              <tr>
                <th colspan="2" class="text-center">Region Details</th>
              </tr>
              <tr>
                <th>Continent:</th>
                <td>
                  {% for continent in countryDetails.continents %}
                    {{ continent }}
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th>Region:</th>
                <td>{{ countryDetails.region }}</td>
              </tr>
              <tr>
                <th>Sub Region:</th>
                <td>{{ countryDetails.subregion }}</td>
              </tr>
              <tr>
                <th>Area:</th>
                <td>{{ countryDetails.area }}</td>
              </tr>
              <tr>
                <th>Population:</th>
                <td>{{ countryDetails.population }}</td>
              </tr>
              <tr>
                <th>Timezones:</th>
                <td>
                  {% for timezone in countryDetails.timezones %}
                    {{ timezone }}
                  {% endfor %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
